        <div class="ui container three column center aligned" style="margin: 40px;">
            <a href="/" class="ui black button">MASTERCLASS</a>
            <div class="ui container three column centered grid" style="margin: 40px;">
                <div class="row">
                    <div class="ui container column segment">
                        <h3>NEED HELP?</h3>
                        <p>We're here to answer any questions you have about MasterClass or the classes we offer.</p>
                    </div>        
                    <div class="ui container column segment">
                        <h3>SAFE & SOUND</h3>
                        <p>Your MasterClass purchase is secure. We never share your personal information.</p>
                    </div>        
                    <div class="ui container column segment">
                        <h3>LET'S BE FRIENDS</h3>
                        <p>MasterClass is on all your favorite social networks. Come say hello!</p>
                    </div>
                </div>
            </div>
            <div class="ui container" style="margin: 40px;">
                <p>Copyright c 2016 MasterClass</p>
                <span>
                    <a href="/">HELP CENTER</a> | 
                    <a href="/">CONTACT US</a> | 
                    <a href="/">PRIVACY</a> | 
                    <a href="/">TERMS</a> | 
                    <a href="/">CAREERS</a>
                </span>
            </div>
        </div>
    </body>
</html>